[Unit]
Description=RDCT's distributed currency daemon
After=network.target

[Service]
User=rdct
Group=rdct

Type=forking
PIDFile=/var/lib/rdctd/rdctd.pid

ExecStart=/usr/bin/rdctd -daemon -pid=/var/lib/rdctd/rdctd.pid \
          -conf=/etc/rdct/rdct.conf -datadir=/var/lib/rdctd

ExecStop=-/usr/bin/rdct-cli -conf=/etc/rdct/rdct.conf \
         -datadir=/var/lib/rdctd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
